<% provide(:title, "Log In") %>
<h1>Log In</h1>

<div id="form" class="row">
  <div class="col m6 offset-m3 input-form">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.text_field :email, placeholder: "Email", class: "form-input form-control" %>

      <%= f.password_field :password, placeholder: "Password", class: "form-input form-control" %>

      <%= f.check_box "remember_me", class: "filled-in checkbox" %>
      <%= f.label "remember_me", "Remember me on this computer" %>

      <%= f.submit "Login", class: "btn-large #0d47a1 blue darken-4" %>
      <%= link_to "(forgot password)", new_password_reset_path %>
    <% end %>

    <p id="sign-up-now">New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
